@model ForumWebsite.Models.ViewMoels.PostViewModel

@if (User.Identity != null && Model.Post?.User.UserName == User.Identity.Name)
{
    <h6><a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="EditPost" asp-route-postId="@Model.Post?.Id">Edit Post</a></h6>
    <hr />
}

<h4>@Model.Post?.Header</h4>
<br />
@Model.Post?.Body

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <hr />
    <h5>Comment on this post:</h5>

    <form asp-action="PostView" asp-route-postId="@Model.Post?.Id">
        <table>
            <tr>
                <td colspan="3"><div asp-validation-summary="All"></div></td>
            </tr>
            <tr>
                <td><label asp-for="CommentBody"></label></td>
                <td><textarea asp-for="CommentBody" style="resize:none" cols="30" rows="5"></textarea></td>
                <td><span asp-validation-for="CommentBody"></span></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Send" /></td>
            </tr>
        </table>
    </form>
}

@if (Model.Comments == null || Model.Comments.Count == 0)
{
    <hr />
    <h5>There is no comment on this post.</h5>
}
else
{
    @foreach (var comment in Model.Comments)
    {
        <hr />
        <div>
            @comment.User.UserName said:
            <br />
            @comment.Body
            <br />
            @if (User.Identity != null && comment.User.UserName == User.Identity.Name)
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="EditComment" asp-route-commentId="@comment.Id">Edit Comment</a>
            }
        </div>
    }
}
